/*about-page*/
.container-border2{
	box-shadow: 0px 5px 4px -4px rgba(0,0,0,0.3);
	padding: 54px 113px;
	background: #fff;
	margin-top: -139px;	
}
.container-border1{
	padding: 54px 113px;
	background: #fff;
	margin-top: -139px;	
}


@media screen and ( max-width: 499px) {   
      
    .container-border1{
        padding: 0;
    }

    .container-border2 {
        padding: 0;
    }

    .about__partners {
		    margin-top: 30px;
		   
		}

		.container-border2 {
	    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
		}

		.move-page__header {
   		padding-top: 20px;
		}



}

.about__ten{
	font-size: 2.600rem;
	color: #23aae2;
	letter-spacing: 2px;
}

.about__satClients{
	letter-spacing: 0.7px;
}


.about__get{
	font-size: 1.267rem;
	color: #bdbdbd;
	letter-spacing: 10px;
}

.about__newHome{
	font-size: 2.010rem;
	color: #23aae2;
	letter-spacing: 2px;
}

.about__inBulgaria{
	font-size: 2.010rem;
	letter-spacing: 3px;
}

.about__ready{
	font-size: 1.533rem;
	padding: 30px 0;
}

.about__ready_bg{
	padding: -15px 0;
	background:  #23aae2;
	
}

.about__partners{
	font-size: 1.933rem;
	padding-top: 130px;
	padding-bottom: 60px;
}


.about__man1_name, .about__man2_name{
	font-size: 1.400rem;
	padding: 30px 0;
}

.underline{
	width: 37px;
	border-top: 1px solid #c6c6c6;
	margin-top: -31px;
	margin-bottom: 22px;
}

.about__partners_block1, .about__partners_block2{
	background: #f9f9f9;
	padding: 33px 41px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

@media screen and ( max-width: 499px) {   
		.about__partners_block1, .about__partners_block2 {
    	padding: 97px 75px;
		}
}



.consult__header_about{
	font-size: 2.800rem;
	color: #fff;
	margin-top: -60px;
}

.form_background{
	background: none;
}

.order__btn{
	background: none;
}



