@media screen and (max-width: 1200px) {   
        .first__header1{
            font-size:4.267rem;
          
        }

        .first__header2{
            font-size: 2.933rem;
        }

        .realty__circle1{
            left: 50%;
            width: 188px;
            height: 188px;
            margin-left: -15%;
        }




    }

@media screen and ( max-width: 1199px) {   
      
    .realty__circle1{
            left: 50%;
            width: 188px;
            height: 188px;
            margin-left: -15%;
        }

    .realty__dream_part1:before {  
        content: " ";
        background: url(../img/two-circles.png);
        display: block;
        height: 60px;
        width: 299px;
        position: absolute;
        top: 96px;
        left: 50%;
        margin-left: -25%;
}


    .realty__circle{
        top:415px;
    }

   }

@media screen and ( max-width: 991px) {   
      
    .realty__circle{
          top:440px;  
     } 
}

@media screen and ( max-width: 768px) {   
    
    .feedback__rowBlock_left{
        display: none;
        
    }

    .feedback__rowBlock_right{
        display: none;
        
    }

    .realty__circle{
          top:488px;  
     } 

     .footer__contacts{
        display: none;
        
     }

     
}



@media screen and ( max-width: 723px) {   
      
    .realty__circle1{
           left: 50%;
        margin-left: -17%;
            
        }

    .realty__dream_part1:before {  
        display: none;
        }   

    .realty__dream_part1{
      margin-top: 60px;  
        }

     .realty__circle{
        top:490px;
        }
    .footer__contacts{
        display: none;
        
        }

}

@media screen and ( max-width: 575px) {
    .first__arrow_down{
        /*left: 50%;
        margin-left: 136px;*/
    } 

    .first__header1, .first__header2{
        letter-spacing: 0;
        font-size: 2.300rem;
    }

    .realty__header,.adv__header{
        font-size: 2.000rem;
    } 
    
    .realty__circle1{
            left: 50%;
            width: 188px;
            height: 188px;
            margin-left: -94px;
    }

    .feedback__girl{
        left: 17px;
    }

    .order__input, .order__btn{
        width: 100%;
        letter-spacing: 0;
        padding: 18px 8px;
    }

     .footer__contacts{
        display: none;
        
     }
/*
    .order__btn{
        
        padding: 18px 8px;
    }*/

    /*move page*/

    .first__header1_move{
        font-size: 160%;
        letter-spacing: 1px;
    }
}



@media screen and ( max-width: 499px) {   
      
    .realty__circle{
       display: none;
     } 

      .footer__contacts{
        display: none;
        
     }
}

@media screen and ( max-width: 463px) {   
      
    .feedback__girl{
        display: none;
        
    }





    .feedback__social{
        float: none;
        padding: 0 40px 47px 97px;
        
    }

    .feedback__text{
         padding: 0 40px 47px 97px;
    }

     .footer__contacts{
        display: none;
        
     }
}









