/*move-page*/
.contacts__phone{
	display: block;
	width: 193px;
	font-size: 1.067rem;
	color: #fff;
	/*background: url(../img/phone.png ) no-repeat 16% 70%;*/
	padding: 15px 0;
	
}

.contacts__phone:hover{
	border-bottom: 1px dotted #fff;
	
}

.first_contacts {
        height: 48.5vh;
    }


.container-border{
	
	padding: 54px 113px;
	background: #fff;
	margin-top: -139px;	
}

.move-page__header{
	font-size: 1.133rem;
	margin-bottom: 56px;
}


.head{
	height: 100%;
}



.first__header1_move{
	font-size: 3.400rem;
	color: #fff;
	margin-top: 70px;
	letter-spacing: 11px;
}

.move__text1, .move__text2 {
	line-height: 1.4;
	font-size: 1.067rem;
}

.move__text2{
	/*margin-top: 100px;*/
}

/*form-consult*/

.form__consult{
	background: #11b2f5 url(../img/consulting-bg.png);
	box-shadow: 0px -57px 81px -17px rgba(0,0,0,0.1) inset;
}

