<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Болгария ждет вас</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/move.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="css/media-contacts.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
	<header class="head">
		<div class="header">
			<div class="container">
				<div class="row ">
					<div class="col-4 col-sm-3 col-lg-2">
						<a href="index.html"><img src="img/logo.png" alt="logo" class="logo "></a>
					</div>
					<div class="d-none d-sm-block d-md-block col-sm-2 col-md-4 col-lg-6 col-xl-7"><!-- col-xl-7 col-lg-5 col-md-5 col-sm-5 -->
						<nav class="d-none d-xl-block no-gatters">
							<ul class="menu upper clearfix">
								<li class="menu__item ">
									<a href="#">Главная</a>
								</li>
								<li class="menu__item">
									<a href="#">О компании</a>
								</li>
								<li class="menu__item">
									<a href="#">ВНЖ и ПМЖ в Болгарии</a>
								</li>
								<li class="menu__item">
									<a href="#">Недвижимость и переезд</a>
								</li>
								<li class="menu__item">
									<a href="#">Контакты</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-6 d-sm-block  col-sm-2 col-md-4 col-lg-3 mx-auto pt-2">
						<div class="contacts__all">
							<div class="contacts__icon no-gatters float-left d-none d-md-block pt-3">
									<img src="img/PhoneDark.png" alt="PhoneDark
									">
								</div>
							<div class="contacts__phone no-gatters bolder text-right  d-none d-md-block ">
								+7 (495) 12-321-345 
							</div>
						</div>

					</div>
					<div class="col-1  d-flex justify-content-end col-sm-4 col-md-1 col-lg">
						<div class="contacts__menu-gamburger float-left d-xs-none d-xl-none">
							<img src="img/gamburger.png" alt="gamburger.png">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="first_contacts">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h1 class="first__header1_move upper bolder">
							Недвижимость и переезд
						</h1>
					</div>
					
					<div class="col-md-12 d-flex justify-content-center">
						<div class="first__arrow_contacts">
							<i class="fas fa-angle-down"></i>
						</div>
					</div>
			</div>
		</div>		
	</header>

	<section class="move-page">
		
			<div class="container">
				<div class="container-border ">
					<div class="row justify-content-center">
						<div class="col-12">
							<p class="move-page__header text-center mb-sm-4">
								После того, как решены юридические вопросы с видом на жительство в Болгарии, главной задачей становится
								<span class="bolder">найти новый дом или квартиру и организовать перевоз вещей</span>
							</p>
				</div>
					</div>
					<div class="container__items d-flex flex-nowrap">
						<div class="row d-flex justify-content-sm-center justify-content-md-center">
							<div class="col-12 col-sm-12 d-flex justify-content-sm-center col-md-6  d-flex align-items-sm-center col-lg-6 order-1 order-md-1 ">
								<div class="move__house mx-auto">
									<img src="img/house.png" alt="house" class="move__house_img img-fluid center-block">
								</div>
							</div>
						
							<div class="col text-center col-sm-12 text-sm-center  col-md-6    col-lg-6 order-2 order-md-2 ">
								<p class="move__text1 mt-4 mt-sm-4 ">
									Мы подберем лучшие варианты для Вашей новой жизни и подходящие по ценовой категории - будь то квартира-студия для молодой пары, или роскошный дом на побережье для большой семьи.
								</p>
							</div>
						
							<div class="col text-center col-sm-12 text-sm-center  col-md-6  d-flex align-items-center col-lg-6 order-4 order-md-3">
								<p class="move__text2 pt-sm-4 mb-sm-1">
									При переезде в другую страну всегда возникает вопрос - как перевозить все свои вещи? Мы готовы Вам помочь в перевозке личных вещей из РФ в Болгарию. Большой опыт в перевозке вещей поможет избежать лишних затрат и выбрать только надежные и аккуратные транспортные компании, что гарантирует сохранность Вашего имущества.
								</p>
							</div>
						
							<div class="col- col-sm-12 d-flex justify-content-sm-center col-md-6  d-flex justify-content-center col-lg-6 order-3 order-md-4">
								<div class="move__boxes pt-4">
									<img src="img/boxes.png" alt="boxes" class="move__boxes_img img-fluid center-block">
								</div>
							</div>
										</div>
					</div>
		</div>
		
	</section>

	<section class="form__consult">
		<div class="container">
			<div class="col- col-sm-12 col-md-12  d-flex justify-content-center col-lg-12">
						<div class="form_background">
								<div class="row">
									<div class="col-md-12 ">
										<h2 class="consult__header_contacts h2-defFontSize text-center 	text-uppercase bolder">
											Есть вопросы <br>
											по переезду в болгарию?
										</h2>
									</div>
										<div class="col-md-12">
											<p class="consult__text_contacts text-center text-uppercase text-normal">
												Мы проконсультируем <br>
												Вас бесплатно!
											</p>
										</div>
									<div class="col-md-12">
										<div class="consult__tblock2_arrow_Down mx-auto">
													<i class="fas fa-caret-down"></i>
										</div>
									</div>
									<div class="col-md-3">
										
									</div>
									<div class="col-md-6 d-flex justify-content-center">
										<div class="consult__form text-left text-uppercase text-normal">
											<form action="#" class="consult__order mr-auto ml-auto">
												<input type="text" name="name" placeholder="Имя" id="name" class="order__input" required="">
												<input type="email" name="email" placeholder="E-mail" id="email" class="order__input" required="">
												<input type="tel" name="phone" placeholder="Телефон" id="phone" class="order__input" required="">
												<input type="submit" name="bnt" value="Заказать консультацию" placeholder="Заказать консультацию" id="btn" class="order__btn text-center text-uppercase bolder" required="">
											</form>
							
										</div>
									</div>
									<div class="col-md-3">
									</div>
										</div>
						</div>
									
								</div>
				</section>
				
			
				<footer class="footer">
			<div class="container">
					<div class="footer__content">
						<div class="row">
							
								<div class="col-4 col-sm-5 col-md-7 col-lg-2">
									<div class="footer__logo"></div>
								</div>
								<div class="d-none d-lg-block col-7 col-md-6 col-xl-7 text-left d-none d-sm-block d-md-none">
									<div class="footer__rights float-left">
										2016 / Все права защищены                                  
									</div>
									<div class="footer__conf float-left">
								    <a href="#">Политика конфиденциальности</a>
									</div>
								</div>
								<div class="col-6 d-sm-block  col-sm-7 col-md-5 col-lg-4 col-xl-3 ">
									<div class="footer__contacts text-right bolder">
										+7 (495) 12-321-345 <br>
										+7 (495) 12-321-345
									</div>
								</div>
							
						</div>
					</div>
				
			</div>
		</div>
	</footer>
</body>
</html>  
